/* SCREEN **************************************************/ 

body {
    padding: 20px;
    background-color: #ececec;
}

/* Typography
---------------------------------------------------------- */
html, body {
    font-family: 'Lucida Grande';
}

/* Header
---------------------------------------------------------- */
header {
    margin-bottom: 20px;
}
header h1 {
    font-family: Tahoma;
    font-size: 36px;
    font-weight: normal;
    color: #5c6872;
}

/* Things
---------------------------------------------------------- */
section#things {
    background-color: #fff;
}
section#things ul#items > li {
    position: relative;
    padding: .5em;
    min-height: 1em;
    border-bottom: 1px dotted #ccc;
}
section#things ul#items > li:last-child {
    border: 0;
}
section#things ul#items > li p {
    padding: .2em .1em;
}
section#things ul#items > li p:hover {
    cursor: text;
    background-color: #fffaaf;
}
section#things ul#items ul {
    position: absolute;
    top: 7px;
    right: 0;
    width: 125px;
    text-align: center;
/*    background: green;*/
}
section#things ul#items ul li {
    display: inline;
}
section#things ul#items ul li a {
    font-size: .75em;
    text-decoration: none;
    text-transform: uppercase;
}
section#things ul#items input.edit-item {
    width: 80%;
    padding: .2em .1em;
    font-size: 1em;
    border: 1px solid #646973;
}
section#things ul#items ul li.btn-edit a {
    color: #357db8;
}
section#things ul#items ul li.btn-delete a {
    color: red;
}
section#things ul#items ul li.btn-save a {
    padding: 2px 4px;
    color: #fff;
    background-color: #357db8;
}
section#things ul#items ul li.btn-cancel a {
    color: #5c6872;
}
/* Toolbar */
section#toolbar {
    padding: .5em;
    background-color: #357db8;
}
section#toolbar a {
    font-size: .75em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* Modal Dialog
---------------------------------------------------------- */
.modal-dialog {
    position: absolute;
    padding: 2px 2px 4px 2px;
    width: 400px;
    background: #fff;
    border: 1px solid #646973;
    -moz-box-shadow: 0 0 8px #888;
    -webkit-box-shadow: 0 0 8px #888;
    -o-box-shadow: 0 0 8px #888;
    box-shadow: 0 0 8px #888;
}
.modal-dialog-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: #666;
}
.modal-dialog-title {
    margin-bottom: 10px;
    padding: 3px 8px;
    color: #fff;
    background-color: #646973;
}
.modal-dialog-content {
    margin-bottom: 10px;
    padding: 0 8px;
    font-size: 12px;
}
.modal-dialog-buttons {
    padding: 0 8px;
}