<!doctype html>
<html>
<head>
    <title>gtd</title>

    <!-- Meta Info -->
    <meta charset="UTF-8" />

    <!-- Stylesheets -->
    <link rel="icon" type="image/x-icon" href="{{MEDIA_URL}}img/favicon.ico" />
    <link rel="stylesheet" href="{{MEDIA_URL}}css/global.css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}css/screen.css" media="screen, projection" />

    <!-- Javascripts -->
    <script src="{{MEDIA_URL}}js/closure-library/closure/goog/base.js"></script>
    <script src="{{MEDIA_URL}}js/system.js"></script>

</head>
<body>
<header>
    <h1>gtd</h1>
</header>

<section id="things">
    <section id="toolbar">
        <ul>
            <li><a id="add-item" href="">Add Item</a></li>
        </ul>
    </section>
    <ul id="items"></ul>
    <!-- <ul id="items">
        <li>
            <p>Foo</p>
            <ul>
                <li class="btn-edit"><a href="">Edit</a></li>
                <li class="btn-delete"><a href="">Delete</a></li>
            </ul>
        </li>
        <li>
            <p>Bar</p>
            <ul>
                <li class="btn-edit"><a href="">Edit</a></li>
                <li class="btn-delete"><a href="">Delete</a></li>
            </ul>
        </li>
        <li>
            <p>FooBar</p>
            <ul>
                <li class="btn-edit"><a href="">Edit</a></li>
                <li class="btn-delete"><a href="">Delete</a></li>
            </ul>
        </li>
        <li>
            <input class="edit-item" type="text" value="FooBar" />
            <ul>
                <li class="btn-save"><a href="">Save</a></li>
                <li class="btn-cancel"><a href="">Cancel</a></li>
            </ul>
        </li>
    </ul> -->
</section>

<script>
    goog.require('goog.net.XhrIo');
</script>
<script>
    function main(data) {
        var itemListElement = document.getElementById('items');
        var items = gtd.createItems(data.items, itemListElement);
        
        // Listener - Add item
        goog.events.listen(goog.dom.getElement('add-item'), goog.events.EventType.CLICK, function(e){
            e.preventDefault();
            
            goog.net.XhrIo.send('/api/item/', function(e){
                var status = e.target.getStatus();
                if (status == 200) {
                    var data = e.target.getResponseJson();
                    var item = gtd.createItems([{'id': data.id, 'date': data.date}], itemListElement)[0];
                    item.editItem();
                }
            }, 'POST', 'list_id='+gtd.settings.listId);
            
        }, false);
    }
    
    goog.net.XhrIo.send('/api/list/'+gtd.settings.listId+'/', function(e){
        var data = e.target.getResponseJson();
        main(data);
    });
</script>

</body>
</html>
